.sign-out-section-sign-in {


    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 80%;
    margin-right: 50px;

}

.sign-out-section-not-sign-in {


    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 80%;
    margin-right: 50px;

}



.auth-user-sign-in {

    text-align: center;
    color: rgb(48, 37, 7);
    font-size: 20px;
    background-color: aliceblue;
    padding: 6px 20px;
    color: rgb(119, 86, 25);
    border-radius: 10px;
}

.auth-user-not-sign-in {

    text-align: center;
    color: rgb(48, 37, 7);
    font-size: 20px;
    background-color: aliceblue;
    padding: 6px 20px;
    color: rgb(119, 86, 25);
    border-radius: 10px;
}

.sign-out-button {


    width: 10%;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(190, 190, 190);
    background-color: rgb(255, 211, 130);


}


/*Media queries*/

@media only screen and (max-width: 1000px) {

    .sign-out-button {

        width: 20%;

    }

    .sign-up-form-wrapper {

        width: 70%;
    }



}


@media only screen and (max-width: 620px) {

    .auth-user {

        margin-left: 30px;
        margin-right: 30px;
    }

}