.sign-out-section {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}



.auth-user {

    text-align: center;
    color: rgb(48, 37, 7);
    font-size: 30px;
    margin-top: 100px;
    background-color: aliceblue;
    padding: 6px 20px;
    color: rgb(119, 86, 25);
    font-size: 25px;





}

.sign-out-button {


    width: 10%;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;


}


/*Media queries*/

@media only screen and (max-width: 1000px) {

    .sign-out-button {

        width: 20%;

    }

    .sign-up-form-wrapper {

        width: 70%;
    }



}


@media only screen and (max-width: 620px) {

    .auth-user {

        margin-left: 30px;
        margin-right: 30px;
    }

}