.background {

    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow: hidden;
}

.background li {

    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: orange;
    animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
    left: 20%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 1s;
}

.background li:nth-child(1) {

    left: 69%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 3s;

}

.background li:nth-child(2) {

    left: 6%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 6s;

}

.background li:nth-child(3) {

    left: 41%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 9s;

}

.background li:nth-child(4) {

    left: 59%;
    width: 190px;
    height: 190px;
    bottom: -190px;
    animation-delay: 19s;

}

.background li:nth-child(5) {

    left: 84%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 7s;

}

.background li:nth-child(6) {

    left: 47%;
    width: 187px;
    height: 187px;
    bottom: -187px;
    animation-delay: 24s;

}

.background li:nth-child(7) {

    left: 37%;
    width: 114px;
    height: 114px;
    bottom: -114px;
    animation-delay: 22s;

}

.background li:nth-child(8) {

    left: 57%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 27s;

}

.background li:nth-child(9) {

    left: 79%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 39s;

}

/*warning section*/
.warning-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 115, 0);
    height: 50px;
    border: 0.5px solid rgb(122, 122, 122);

}

.warning-text {

    text-align: center;
    margin-right: 20px;
    color: #ffffff;
}

.warning-close-icon {

    font-size: 25px;
    color: rgb(223, 223, 223);
    cursor: pointer;

}


/* login section*/
.login-section {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.login-background-btn {

    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 20px;
    animation: pulse 2s infinite;
    cursor: pointer;

}

.login-text {

    font-size: 20px;
    text-decoration: none;
    display: flex;
    background-color: aliceblue;
    color: black;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    border-radius: 20px;
    animation: pulse 2s infinite;
    cursor: pointer;
    border: 1px solid rgb(199, 199, 199);

}

.login-text:hover {

    animation: none;

}

.login-icon {

    font-size: 30px;
    margin-left: 5px;
    color: orange;
}

.sign-out-section-sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    padding: 5px 5px;
    background-color: aliceblue;
    margin-right: 50px;
    border-radius: 20px;

}

.sign-out-button {

    font-size: 16px;
    margin-left: 10px;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgb(190, 190, 190);

}

.auth-user-not-sign-in {

    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin-right: 80px;
    padding: 10px 1px;
    border-radius: 10px;

}

/*Switch mode button*/

.switch {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.react-switch-handle {

    background-color: rgb(255, 203, 106) !important;

}

.form-wrapper {

    box-shadow: -10px 5px 79px 0px rgba(185, 185, 185, 0.7);
    background-color: aliceblue;
    width: 70%;
    height: auto;
    margin: 0px auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 50px 0px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
}

.Typewriter {

    background-color: aliceblue;
}

.Typewriter__wrapper {

    text-align: center;
    color: rgb(17, 17, 17);
    margin-bottom: 50px;
    font-size: 35px;

}

.typed-text-section {

    text-align: center;
    margin-bottom: 80px;
}

.my-title {

    text-align: center;
    color: rgb(211, 137, 0);
    margin-bottom: 50px;
}

.my-title {

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.my-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.my-input {

    width: 40%;
    margin-top: 20px;
    height: 100px;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid rgb(105, 105, 105);

}

.my-button {

    width: 15%;
    margin-top: 20px;
    background-color: orange;
    cursor: pointer;
    padding: 10px 0px;
    border-radius: 40px;
    margin-bottom: 100px;
    border: none;
    color: rgb(72, 72, 72);

}

.user-data-wrapper {


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    padding-bottom: 20px;

}

.user-data-paragraf {

    font-size: 15px;
    margin-left: 20px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;

}

.user-data-section {

    width: 40%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    align-items: center;
    border: 2px dotted rgb(162, 91, 16);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 0px;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

}

.trash-icon,
.edit-icon {

    font-size: 20px;
    color: orange;
    margin-right: 20px;
    cursor: pointer;

}

.count-tasks {
    text-align: center;

}

.delete-all-tasks {

    width: 200px;
    margin-top: 20px;
    background-color: orange;
    color: aliceblue;
    cursor: pointer;
    padding: 10px 0px;
    border-radius: 40px;
    margin-bottom: 100px;
    border: none;
    color: rgb(72, 72, 72);
    border: 1px solid rgb(85, 85, 85);

}


/*Keyframes*/

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 212, 119, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(235, 235, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(219, 219, 219, 0);
    }
}






/*Media queries*/

@media only screen and (max-width: 1500px) {

    .user-data-section {

        width: 50%;

    }

    .my-input {

        width: 50%;

    }

}


@media only screen and (max-width: 1150px) {


    .user-data-section {

        width: 60%;

    }

    .my-input {


        width: 70%;

    }

    .my-button {


        width: 25%;

    }

    .delete-all-tasks {

        width: 25%;
    }

}

@media only screen and (max-width: 1050px) {

    .switch {

        margin-top: 10px;
    }

    .login-section {

        flex-direction: column-reverse;

    }

    .sign-out-section-sign-in {

        margin-top: 20px;
        margin-right: 0px;
        width: 440px;

    }

    .auth-user-not-sign-in {

        margin: 0px;
        margin-top: 20px;
    }


}

@media only screen and (max-width: 1000px) {
    .login-section {

        margin-top: 30px;
    }

    .form-wrapper {

        margin-top: 50px;

    }

    .delete-all-tasks {


        width: 200px;

    }

}


@media only screen and (max-width: 800px) {
    .Typewriter__wrapper {

        font-size: 28px;

    }

}

@media only screen and (max-width: 700px) {


    .user-data-section {

        width: 80%;

    }

    .my-input {


        width: 80%;

    }

    .my-button {


        width: 35%;

    }

    .login-section {

        justify-content: center;
        margin-right: 0px;
        margin-top: 50px;

    }

    .form-wrapper {

        padding-top: 50px;
        width: 80%;

    }

}


@media only screen and (max-width: 580px) {

    .sign-out-section-sign-in {

        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .sign-out-button {

        margin-top: 10px;
    }

}


@media only screen and (max-width: 490px) {

    .sign-out-section-sign-in {

        width: 250px;
        margin-right: 30px;
        margin-left: 30px;

    }

    .auth-user-sign-in {


        text-align: center;
    }

}

@media only screen and (max-width: 450px) {

    .background {

        width: 100%;
        height: 100%;
    }

    .Typewriter__wrapper {

        font-size: 22px;

    }


    .delete-all-tasks {
        width: 170px;

    }

    .my-button {
        width: 140px;

    }

    .form-wrapper {

        width: 90%;

    }

    .warning-close-icon {

        margin-right: 20px;

    }

    .warning-text {

        margin-left: 10px;
        font-size: 13px;

    }

    .warning-wrapper {

        height: 60px;
    }

    .auth-user-not-sign-in {

        width: 150px;
        font-size: 14px;

    }

    .login-text {

        padding: 5px 15px;
        font-size: 18px;

    }

    .login-icon {

        font-size: 25px;
    }

}


@media only screen and (max-width: 290px) {

    .warning-close-icon {

        font-size: 32px;

    }





}